[flake8]
max-line-length = 88
inline-quotes = "
ignore =
  C408
  E121
  E123
  E126
  E203
  E226
  E24
  E704
  W503
  W504
  W605
  I
  N
avoid-escape = no
per-file-ignores =
  *ray_runner_test.py: B008
