click==8.0.1
black==21.12b0
flake8==3.9.1
flake8-comprehensions
flake8-quotes==2.0.0
flake8-bugbear==21.9.2
pytest==7.1.2
pyhamcrest==2.0.3
pytest-benchmark
ray @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl
